#Python for Data Professional Beginner

Pada project kali ini, saya akan menyelesaikan suatu studi kasus dan akan menggunakan Python untuk mendapatkan solusinya. Project ini didapat dari Platform DQLab.

1. Praktek Python Conditioning & Looping pada studi kasus tagihan.

In [1]:
#Membuat list tagihan
tagihan = [50000, 75000, -150000, 125000, 300000, -50000, 200000]
#Buat perulangan
i = 0 
jumlah_tagihan = len(tagihan)
total_tagihan = 0
while i < jumlah_tagihan:
  #jika terdapat tagihan ke-i yang bernilai minus (di bawah nol), maka pengulangan dihentikan
  if tagihan[i] < 0:
    total_tagihan = -1
    print("terdapat angka minus dalam tagihan, perhitungan dihentikan!")
    break
  total_tagihan += tagihan[i] #ini digunakan untuk looping tagihan positif
  i += 1
print(total_tagihan)

terdapat angka minus dalam tagihan, perhitungan dihentikan!
-1

2. Studi kasus ekspedisi. Terdapat seseorang yang harus mengeluarkan uang sebesar 1,5 juta per mobil dalam sehari. Hitung total pengeluaran per bulan jika terdapat aturan pelat ganjil genap!

In [2]:
#Data
uang_jalan = 1500000
jumlah_hari = 31
list_pelat_nomor = [8993, 2198, 2501, 2735, 3772, 4837, 9152]
#Pengecekan kendaraan dengan nomor pelat ganjil atau genap
kendaraan_genap = 0
kendaraan_ganjil = 0
for pelat_nomor in list_pelat_nomor:
  if pelat_nomor % 2 == 0:
    kendaraan_genap += 1
  else:
    kendaraan_ganjil += 1
#Total pengeluaran untuk kendaraan dengan nomor pelat ganjil dan genap dalam satu bulan
i = 1
total_pengeluaran = 0
while i <= jumlah_hari:
  if i % 2 == 0:
    total_pengeluaran += (kendaraan_genap * uang_jalan)
  else:
    total_pengeluaran += (kendaraan_ganjil * uang_jalan)
  i += 1
#Mencetak total pengeluaran
print(total_pengeluaran)

163500000

3. Studi kasus mengenai prediksi harga rumah

In [3]:
#Step 1
#Baca file "harga_rumah.txt"
#file_harga_rumah = open("harga_rumah.txt", "r")
#data_harga_rumah = file_harga_rumah.readlines()
#file_harga_rumah.close()
#Buat list of dict dengan nama harga rumah
#key_harga_rumah = data_harga_rumah[0].replace("\n","").split(",")
#harga_rumah = []
#for baris in data_harga_rumah[1:]:
  #baris_harga_rumah = baris.replace("\n","").split(",")
  #dict_harga_rumah = dict()
  #for i in range(len(baris_harga_rumah)):
    #dict_harga_rumah[key_harga_rumah[i]] = baris_harga_rumah[i]
  #harga_rumah.append(dict_harga_rumah)
#print(harga_rumah)

In [4]:
harga_rumah = [
               {'tanah': 70, 'bangunan': 50, 'jarak_ke_pusat': 15, 'harga': 500},
               {'tanah': 70, 'bangunan': 60, 'jarak_ke_pusat': 30, 'harga': 400},
               {'tanah': 70, 'bangunan': 60, 'jarak_ke_pusat': 55, 'harga': 300},
               {'tanah': 100, 'bangunan': 50, 'jarak_ke_pusat': 30, 'harga': 700},
               {'tanah': 100, 'bangunan': 70, 'jarak_ke_pusat': 25, 'harga': 1000},
               {'tanah': 100, 'bangunan': 70, 'jarak_ke_pusat': 50, 'harga': 650},
               {'tanah': 120, 'bangunan': 100, 'jarak_ke_pusat': 20, 'harga': 2000},
               {'tanah': 120, 'bangunan': 80, 'jarak_ke_pusat': 50, 'harga': 1200},
               {'tanah': 150, 'bangunan': 100, 'jarak_ke_pusat': 50, 'harga': 1800},
               {'tanah': 150, 'bangunan': 90, 'jarak_ke_pusat': 15, 'harga': 3000}
               ]

In [5]:
#Step 2
#Membuat fungsi get_all_specified_attribute yang menerima parameter list_of_dictionary (tipe data list yang berisikan sekumpulan tipe data dictionary) dan
#specified_key (tipe data string). Fungsi akan mengembalikan sebuah list yang berisikan seluruh atribut dengan kunci (key) specified key

def get_all_specified_attributes(list_of_dictionary, specified_key):
  list_attributes = []
  for data in list_of_dictionary:
    attribute = data[specified_key]
    list_attributes.append(attribute)
  return list_attributes

In [6]:
#Step 3
#Membuat fungsi fungsi min_value yang menerima parameter list_attributes (berupa tipe data list) dan mengembalikan nilai terkecil dalam list_attributes
def min_value(list_attributes):
  min_attribute = 9999
  for attr in list_attributes:
    if int(attr) < min_attribute:
      min_attribute = int(attr)
  return min_attribute

def max_value(list_attributes):
  max_attribute = -9999
  for attr in list_attributes:
    if int(attr) > max_attribute:
      max_attribute = int(attr)
  return max_attribute

In [7]:
#Step 4
#Membuat fungsi transform_attribute yang menerima parameter attr (sebuah bilangan),
#max_attr (sebuah bilangan) dan min_attr (sebuah bilangan) yang mengembalikan nilai transformasi dari sebuah attribute

def transform_attribute(attr, max_attr, min_attr):
  nilai_transformasi = (attr - min_attr) / (max_attr - min_attr)
  return nilai_transformasi

In [8]:
#Step 5
#Membuat fungsi data_transformation yang menerima parameter list_of_dictionary (sebuah list yang berisikan tipe data dictionary) dan
#list_attribute_names (sebuah list yang berisikan tipe data string) mengembalikan hasil transformasi data dari list_of_dictionary
#berdasarkan list_attribute_names dan attr_info telah dispesifikasikan

def data_transformation(list_of_dictionary, list_attribute_names):
  attr_info = {}
  for attr_name in list_attribute_names:
    specified_attributes = get_all_specified_attributes(list_of_dictionary, attr_name)
    max_attr = max_value(specified_attributes)
    min_attr = min_value(specified_attributes)
    attr_info[attr_name] = {'max': max_attr, 'min': min_attr}
    data_idx = 0
    while (data_idx < len(list_of_dictionary)):
      list_of_dictionary[data_idx][attr_name] = transform_attribute(int(list_of_dictionary[data_idx][attr_name]), max_attr, min_attr)
      data_idx += 1
  return list_of_dictionary, attr_info

In [9]:
#Step 6
#Membuat fungsi transform_data berdasarkan data baru dan attr_info ini
#yang menerima parameter data dan attr_info dan mengembalikan nilai atribut dari data baru yang telah ditransformasikan

def transform_data(data, attr_info):
  for key_name in data.keys():
    data[key_name] = (data[key_name] - attr_info[key_name]['min']) / (attr_info[key_name]['max'] - attr_info[key_name]['min'])
  return data

In [10]:
#Step 7:
#Membuat fungsi yang digunakan untuk sistem prediksi harga berdasarkan nilai kemiripan atribut, yaitu argument input data dan list_of_data

def abs_value(value):
  if value < 0:
    return -value
  else:
    return value 
def price_based_on_similarity(data, list_of_data):
  prediksi_harga = 0
  perbedaan_terkecil = 999
  for data_point in list_of_data:
    perbedaan = abs_value(data['tanah'] - data_point['tanah'])
    perbedaan += abs_value(data['bangunan'] - data_point['bangunan'])
    perbedaan += abs_value(data['jarak_ke_pusat'] - data_point['jarak_ke_pusat'])
    if perbedaan < perbedaan_terkecil:
      prediksi_harga = data_point['harga']
      perbedaan_terkecil = perbedaan
  return prediksi_harga

In [11]:
#Step 8
#Menghitung harga rumah yang telah ditransformasikan ke dalam variabel harga_rumah berikut dengan atributnya attr_info

harga_rumah, attr_info = data_transformation(harga_rumah, ['tanah', 'bangunan', 'jarak_ke_pusat'])

In [12]:
#Menggunakan variabel data untuk memprediksi harga rumah
data = {'tanah':110, 'bangunan':80, 'jarak_ke_pusat': 35}

In [13]:
#Mentransformasikan data tersebut dengan menggunakan attr_info yang telah diperoleh yang kembali disimpan ke variabel data

data = transform_data(data, attr_info)

In [14]:
#Menghitung prediksi harga dari variabel data tersebut
harga = price_based_on_similarity(data, harga_rumah)
print("Prediksi harga rumah: ", harga)

Prediksi harga rumah:  1200

4. Studi kasus menghitung pendapatan karyawan

In [15]:
class Karyawan:
  nama_perusahaan = 'ABC'
  insentif_lembur = 250000
  def __init__(self, nama, usia, pendapatan):
    self.nama = nama
    self.usia = usia
    self.pendapatan = pendapatan
    self.pendapatan_tambahan = 0
  def lembur(self):
    self.pendapatan_tambahan += self.insentif_lembur
  def tambahan_proyek(self, insentif_proyek):
    self.pendapatan_tambahan += insentif_proyek
  def total_pendapatan(self):
    return self.pendapatan + self.pendapatan_tambahan

#Membuat object dari karyawan bernama Budi dan Susi
budi = Karyawan('Budi', 25, 8500000)
susi = Karyawan('Susi', 28, 12500000)

#Budi melaksanakan lembur
budi.lembur()

#Susi memiliki proyek tambahan
susi.tambahan_proyek(25000000)

#Cetak pendapatan total Budi dan Susi
print('Pendapatan Total Budi: ' + str(budi.total_pendapatan()))
print('Pendapatan Total Susi: ' + str(susi.total_pendapatan()))

Pendapatan Total Budi: 8750000
Pendapatan Total Susi: 37500000

5. Studi kasus data karyawan aktif/nonaktif dan perusahaan

In [30]:
#Mendefiniskan class Karyawan

class Karyawan:
  def __init__(self, nama, usia, pendapatan, insentif_lembur):
    self.nama = nama
    self.usia = usia
    self.pendapatan = pendapatan
    self.pendapatan_tambahan = 0
    self.insentif_lembur = insentif_lembur
  def lembur(self):
    self.pendapatan_tambahan += self.insentif_lembur
  def tambahan_proyek(self, jumlah_tambahan):
    self.pendapatan_tambahan += jumlah_tambahan
  def total_pendapatan(self):
    return self.pendapatan + self.pendapatan_tambahan

#Mendefinisikan class Perusahaan
class Perusahaan:
  def __init__(self, nama, alamat, nomor_telepon):
    self.nama = nama
    self.alamat = alamat
    self.nomor_telepon = nomor_telepon
    self.list_karyawan = []
  def aktifkan_karyawan(self, karyawan):
    self.list_karyawan.append(karyawan)
  def nonaktifkan_karyawan(self, nama_karyawan):
    karyawan_nonaktif = None
    for karyawan in self.list_karyawan:
      if karyawan.nama in self.list_karyawan:
        karyawan_nonaktif = karyawan
        break
    if karyawan_nonaktif is not None:
      self.list_karyawan.remove(karyawan_nonaktif)

In [32]:
#Mendefinisikan perusahaan
perusahaan = Perusahaan('XYZ', 'Jl. Kemerdekaan nomor 7', '(031)227XXX')

#Mendefinisikan nama-nama karyawan
karyawan_1 = Karyawan('Sinta', 25, 8500000, 100000)
karyawan_2 = Karyawan('Dani', 28, 12000000, 150000)
karyawan_3 = Karyawan('Cia', 30, 15000000, 200000)

#Mengaktifkan karyawan di perusahaan XYZ
perusahaan.aktifkan_karyawan(karyawan_1)
perusahaan.aktifkan_karyawan(karyawan_2)
perusahaan.aktifkan_karyawan(karyawan_3)

6. Studi kasus gaji karyawan dengan status yang berbeda

In [18]:
#Mendefinisikan class karyawan
class Karyawan:
  def __init__(self, nama, usia, pendapatan, insentif_lembur):
    self.nama = nama
    self.usia = usia
    self.pendapatan = pendapatan
    self.pendapatan_tambahan = 0
    self.insentif_lembur = insentif_lembur
  def lembur(self):
    self.pendapatan_tambahan += self.insentif_lembur
  def tambahan_proyek(self, jumlah_tambahan):
    self.pendapatan_tambahan += jumlah_tambahan
  def total_pendapatan(self):
    return self.pendapatan + self.pendapatan_tambahan

#Mendefinisikan class TenagaLepas sebagai child class dari class Karyawan

class TenagaLepas(Karyawan):
  def __init__(self, nama, usia, pendapatan):
    super().__init__(nama, usia, pendapatan, 0)
  def tambahan_proyek(self, nilai_proyek):
    super.pendapatan_tambahan += nilai_proyek * 0.01

#Mendefinisikan class AnalisData sebagai child class dari class Karyawan
class AnalisData(Karyawan):
  def __init__(self, nama, usia = 21, pendapatan = 6500000, insentif_lembur = 100000):
    super().__init__(nama, usia, pendapatan, insentif_lembur)

#Mendefinisikan class IlmuwanData sebagai child class dari class Karyawan
class IlmuwanData(Karyawan):
  def __init__(self, nama, usia = 25, pendapatan = 12000000, insentif_lembur = 150000):
    super().__init__(nama, usia, pendapatan, insentif_lembur)
  def tambahan_proyek(self, nilai_proyek):
    self.pendapatan_tambahan += 0.1 * nilai_proyek

#Mendefinisikan class PembersihData sebagai child class dari class TenagaLepas
class PembersihData(TenagaLepas):
  def __init__(self, nama, usia, pendapatan = 4000000):
    super().__init__(nama, usia, pendapatan)

#Mendefinisikan class DokumenterTeknis sebagai child class dari TenagaLepas
class DokumenterTeknis(TenagaLepas):
  def __init__(self, nama, usia, pendapatan = 2500000):
    super().__init__(nama, usia, pendapatan)
    def tambahan_proyek(self, jumlah_tambahan):
      return

#Mendefinisikan class Perusahaan
class Perusahaan:
  def __init__(self, nama, alamat, nomor_telepon):
    self.nama = nama
    self.alamat = alamat
    self.nomor_telepon = nomor_telepon
    self.list_karyawan = []
  def aktifkan_karyawan(self, karyawan):
    self.list_karyawan.append(karyawan)
  def nonaktifkan_karyawan(self, nama_karyawan):
    karyawan_nonaktif = None
    for karyawan in self.list_karyawan:
      if karyawan.nama == nama_karyawan:
        karyawan_nonaktif = karyawan
        break
    if karyawan_nonaktif is not None:
      self.list_karyawan.remove(karyawan_nonaktif)
  def total_pengeluaran(self):
    pengeluaran = 0
    for karyawan in self.list_karyawan:
      pengeluaran += karyawan.total_pendapatan()
    return pengeluaran
  def cari_karyawan(self, nama_karyawan):
    for karyawan in self.list_karyawan:
      if karyawan.nama == nama_karyawan:
        return karyawan
      return None

#Create object karyawan sesuai dengan tugasnya masing-masing

keli = PembersihData('Keli', 25)
leo = DokumenterTeknis('Leo', 18)
maya = IlmuwanData('Maya')
nio = IlmuwanData('Nio', 32, 20000000)
oci = AnalisData('Oci')
pidi = AnalisData('Pidi', 28, 12000000)

#Create object perusahaan
perusahaan = Perusahaan('XYZ', 'Jl. Kemerdekaan nomor 7', '(031)227XXX')

#Aktifkan setiap karyawan yang telah didefinisikan
perusahaan.aktifkan_karyawan(keli)
perusahaan.aktifkan_karyawan(leo)
perusahaan.aktifkan_karyawan(maya)
perusahaan.aktifkan_karyawan(nio)
perusahaan.aktifkan_karyawan(oci)
perusahaan.aktifkan_karyawan(pidi)

#Mencetak keseluruhan total pengeluaran perusahaan
print(perusahaan.total_pengeluaran())

57000000